.list
  label.item.item-input
    input(type="password" ng-model='data.password1' placeholder='Password')
  label.item.item-input
    input(type="password" ng-model='data.password2' placeholder='Confirm Password')
