ion-view(view-title='Users')
  ion-content
    .users.padding-bottom
      .list
        a.item.item-icon-left.item-icon-right(href ui-sref='^.user({id: user.id})' ng-repeat='user in users | orderBy: "name"' ng-disabled='user.is_owner')
          i.icon.ion-ios-person(ng-show='user.is_active')
          i.icon.ion-ios-person-outline(ng-show='!user.is_active')
          span {{user.name}}
          span.item-note
            span(ng-show='user.role == "regular"') Regular
            span(ng-show='user.role == "trusted"') Trusted
            span(ng-show='user.role == "admin"') Administrator
            span(ng-show='user.role == "owner"') Owner
          i.icon.ion-ios-arrow-forward

      button.button.button-block.button-positive.padding-vertical(ng-click='createUser()') Create User
