<!DOCTYPE html>
html
  head
    meta(charset='utf-8')
    meta(name='viewport' content='initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width')
    title Home

    link(rel="apple-touch-icon", sizes="57x57", href="/apple-touch-icon-57x57.png?v=nggo6GB2WN")
    link(rel="apple-touch-icon", sizes="60x60", href="/apple-touch-icon-60x60.png?v=nggo6GB2WN")
    link(rel="apple-touch-icon", sizes="72x72", href="/apple-touch-icon-72x72.png?v=nggo6GB2WN")
    link(rel="apple-touch-icon", sizes="76x76", href="/apple-touch-icon-76x76.png?v=nggo6GB2WN")
    link(rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png")
    link(rel="icon", type="image/png", href="/favicon-16x16.png?v=nggo6GB2WN", sizes="16x16")
    link(rel="icon", type="image/png", href="/favicon-32x32.png?v=nggo6GB2WN", sizes="32x32")
    link(rel="icon", type="image/png", href="/favicon-96x96.png?v=nggo6GB2WN", sizes="96x96")
    link(rel="manifest", href="/manifest.json?v=nggo6GB2WN")
    link(rel="mask-icon", href="/safari-pinned-tab.svg?v=nggo6GB2WN", color="#5bbad5")
    link(rel="shortcut icon", href="/favicon.ico?v=nggo6GB2WN")
    meta(name="apple-mobile-web-app-title", content="Home")
    meta(name="application-name", content="Home")
    meta(name="msapplication-TileColor", content="#da532c")
    meta(name="msapplication-TileImage" content="/mstile-144x144.png")
    meta(name="theme-color", content="#ffffff")

    link(rel='stylesheet' href='/ionic/css/ionic.css' )
    link(rel='stylesheet' href='/photoswipe/dist/photoswipe.css')
    link(rel='stylesheet' href='/photoswipe/dist/default-skin/default-skin.css')
    link(rel='stylesheet' href='/css/style.css')

  body(ng-app='home-automation')
    ion-nav-bar.bar-stable
      ion-nav-back-button
    ion-nav-view

  script(type='text/javascript' src='/jquery/dist/jquery.min.js')
  script(type='text/javascript' src='/bootstrap/dist/js/bootstrap.min.js')
  script(type='text/javascript' src='/ionic/js/ionic.bundle.min.js')

  script(type='text/javascript' src='/angular-bootstrap/ui-bootstrap-tpls.min.js')
  script(type='text/javascript' src='/angular-cookies/angular-cookies.min.js')
  script(type='text/javascript' src='/angular-local-storage/dist/angular-local-storage.min.js')
  script(type='text/javascript' src='/angular-resource/angular-resource.min.js')
  script(type='text/javascript' src='/angular-messages/angular-messages.min.js')

  script(type='text/javascript' src='/photoswipe/dist/photoswipe.min.js')
  script(type='text/javascript' src='/photoswipe/dist/photoswipe-ui-default.min.js')
  script(type='text/javascript' src='/ng-photoswipe/angular-photoswipe.min.js')

  script(type='text/javascript' src='/moment/min/moment.min.js')
  script(type='text/javascript' src='/underscore/underscore-min.js')
  script(type='text/javascript' src='/underscore.string/dist/underscore.string.min.js')
  script(type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.5/socket.io.min.js')

  script(type='text/javascript' src='/bundle.js')
